<script src="http://js.pusher.com/2.0/pusher.min.js"></script>
<script type="text/javascript">
 
 var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
 var channel = pusher.subscribe('chatroom');

 channel.bind('welcome', function(data) {
   console.log("foo");
   console.log(data.new_member_msg);
 });

 </script>
 
<h1>Listing entrants</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entrants.each do |entrant| %>
  <tr>
    <td><%= entrant.id %></td>
    <td><%= link_to 'Show', entrant %></td>
    <td><%= link_to 'Edit', edit_entrant_path(entrant) %></td>
    <td><%= link_to 'Destroy', entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrant', new_entrant_path %>
